.heroWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroContent {
  width: 800px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homepageLogo {
  width: 320px;
  margin-bottom: 24px;
}

.heroHeading {
  font-size: 60px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
  .heroHeading {
    font-size: 42px;
  }

  .homepageLogo {
    width: 200px;
  }
}

@media only screen and (max-width: 370px) {
  .heroHeading {
    font-size: 34px;
  }
}