.inputGroup {
  width: 100%;
}

.inputGroup label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
}

.inputGroup input {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  padding-left: 8px;
  background: #eaeaea;
  border: 1px solid #eaeaea;
  box-shadow: none;
  border-radius: 3px;
  outline: none;
  transition: all 200ms ease;
}

.inputGroup input:focus {
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.1);
  border: 2px solid #0070f3;
}
