.btn {
    font-family: 'Mulish';
    border-radius: 4px;
    padding: 8px 18px;
    box-shadow: none;
    transition: all 250ms ease;
    font-weight: 500;
    cursor: pointer;
}

.btn-circle {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.btn-primary {
    background: var(--accent-color);
    border: 1px solid var(--accent-darker);
    color: var(--main-text-color);
}

.btn-transparent {
  background: transparent;
  border: none;
}

.btn-download-pdf {
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 36px;
  }

  .btn-resume-preview {
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 8px 15px #a948032e;
    transition: all 0.3s ease 0s;
  }

  .btn-resume-preview:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px #8e3c0245;
    color: var(--main-text-color);
    transform: translateY(-7px);
  }

  .btn-download-pdf:hover {
    transform: scale(1.1);
  }

.btn-primary:hover {
    background: var(--accent-darker);
    border: 1px solid var(--accent-darker);
}



@media only screen and (min-width: 1201px) {
    .btn-resume-preview {
      display: none;
    }
  }