.resumeEditorWrapper {
  background: var(--main-bg-color);
  width: 50%;
  padding: 40px 32px;
  box-sizing: border-box;
}

.resumeEditorHeading {
  display:flex;
  justify-content: space-between;
}

.tutorial {
  padding: 8px;
  background: #fd6b022a;
  font-size: 1rem;
  border-radius: 8px;
  margin-block: 16px;
}

/* Media Queries */

@media only screen and (max-width: 1200px) {
  .resumeEditorWrapper {
    width: 100%;
  }
}