.editorSectionContent {
    overflow: hidden;

    transition: all 350ms ease;
}

.editorSectionSeparator {
    border-bottom: 0;
    border-top: 1px solid #f2f2f2;
}

.collapseEditorSectionBtn {
    padding: 14px !important;
    font-size: 1.5rem;
    transform: rotate(180deg);
}

.collapseEditorSectionBtn:hover {
    color: #0070f3;
}

.collapseEditorSectionBtn.sectionOpen{
    transform: rotate(0);
}

.editorSectionInfo {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 0.82rem;
    color: #646464;
}

.editorSectionHeading h2 {
    margin: 0;
}

.editorSectionHeading {
    margin-bottom: 16px;
}