.editorSectionContent {
    overflow: hidden;

    transition: all 350ms ease;
}

.editorSectionSeparator {
    border-bottom: 0;
    border-top: 1px solid var(--dark-accent-color);
    background: var(--dark-accent-color);
    color: var(--dark-accent-color);
    border-color: var(--dark-accent-color);
}

.collapseEditorSectionBtn {
    padding: 14px !important;
    font-size: 1.5rem;
    transform: rotate(180deg);
    color: #fff;
}

.collapseEditorSectionBtn:hover {
    color: var(--accent-color);
}

.collapseEditorSectionBtn.sectionOpen{
    transform: rotate(0);
}

.editorSectionInfo {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 0.82rem;
    color: #646464;
}

.editorSectionHeading h2 {
    margin: 0;
}

.editorSectionHeading {
    margin-bottom: 16px;
}