/* This @page is used to set the strint document size and orientation */
@page {
  size: A4 portrait;
}

.resumeDocument {
  width: 21cm !important;
  height: 29.7cm !important;
  display: flex;
  background: white;
  overflow: hidden;
  font-size: 11pt;
}

.aside {
  width: 16rem;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 200ms ease;
}

h1 {
  font-size: 16pt;
  margin: 0;
}

h3 {
  font-size: 14pt;
  margin: 0;
}

.firstName {
  font-weight: 300;
}

.lastName {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.wantedJobTitle {
  font-weight: 500;
  text-transform: uppercase;
  border-top: solid black 1px;
  padding-top: 4px;
}

.img-container {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 16px;
  border: solid #800020 5px;
  overflow: hidden;
}

.profile-img {
  height: auto;
  width: 100%;
}

.icon,
.text {
  vertical-align: middle;
  display: inline-block;
}

.text {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.icon {
  margin-right: 10px;
}

.socialAndMail {
  word-wrap: break-word;
}

.socialIconAndText {
  margin-top: 16px;
}
