.resumeDocument {
    width: 21cm !important;
    height: 29.7cm !important;
    display: flex;
    background: white;
    overflow: hidden;
}

.aside {
    background: #ff8a8a;
    height: 100%;
    width: 30%;
    padding: 30px;
    word-wrap: break-word;
}

h1 {
    font-size: 28px;
    margin: 0;
}

.firstName {
    font-weight: 300;
    margin-bottom: 8px;
}

.lastName {
    font-weight: 700;
    text-transform: uppercase;
}

