:root{
  --resume-scale-regular: 0.7;
  --resume-scale-lower-1: 0.6;
  --resume-scale-lower-2: 0.5;

  --resume-scale-regular-hover: 0.75;
  --resume-scale-lower-1-hover: 0.65;
  --resume-scale-lower-2-hover: 0.55;
}

/* * {
  font-family: Arial, Helvetica, sans-serif;
} */

.resumePreviewWrapper {
  position: fixed;
  left: 50%;
  width: 50%;
  height: 100vh;
  background: #656e83;
}

.resumePreviewWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.documentWrapper {
  position: relative;
  border-radius: 15px;
  min-width: 21cm !important;
  min-height: 29.7cm !important;
  overflow: hidden;
  transform: scale(var(--resume-scale-regular));
  transition: 250ms ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.documentWrapper:hover {
  border-radius: 10px;
  transform: scale(0.75);
}

.download-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  z-index: 1000;
  transition: 250ms ease;
  cursor: pointer;
}

.download-overlay:hover {
  display: block;
  background: rgba(0, 0, 0, 0.2);
}


/* Media Queries */

@media only screen and (max-width: 1200px) {
  .resumePreviewWrapper {
    display: none;
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; */
  }
}

@media only screen and (max-height: 850px) {
  .documentWrapper{
      transform: scale(var(--resume-scale-lower-1));
  }

  .documentWrapper:hover {
      transform: scale(var(--resume-scale-lower-1-hover));
      border-radius: 10px;
  }
}

@media only screen and (max-height: 760px) {
  .documentWrapper{
      transform: scale(var(--resume-scale-lower-2));
  }

  .documentWrapper:hover {
      transform: scale(var(--resume-scale-lower-2-hover));
      border-radius: 10px;
  }
}