.resumePreviewWrapper {
  position: fixed;
  left: 50%;
  width: 50%;
  height: 100vh;
  background: #656e83;
}

.resumePreviewWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.documentWrapper {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.PDFPage > canvas {
  max-width: 100%;
  height: auto !important;
}


/* Media Queries */

@media only screen and (max-width: 1200px) {
  .resumePreviewWrapper {
    display: none;
  }
}