.resumePreviewWrapper {
  position: fixed;
  left: 50%;
  width: 50%;
  height: 100vh;
  background: #656e83;
}

.resumePreviewWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.documentWrapper {
  border-radius: 25px;
  overflow: hidden;
  transform: scale(0.7);
  transition: 250ms ease;
}

.documentWrapper:hover {
  transform: scale(0.75);
}




/* Media Queries */

@media only screen and (max-width: 1200px) {
  .resumePreviewWrapper {
    display: none;
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; */
  }
}

@media only screen and (max-height: 890px) {
  .documentWrapper{
      transform: scale(0.6);
  }

  .documentWrapper:hover {
      transform: scale(0.65);
      border-radius: 10px;
  }
}

@media only screen and (max-height: 730px) {
  .documentWrapper{
      transform: scale(0.5);
  }

  .documentWrapper:hover {
      transform: scale(0.55);
      border-radius: 10px;
  }
}