body {
  margin: 0;
  padding: 0;
  font-family: 'Mulish', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.display-none {
  display: none !important;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

.justify-content-space-between {
  justify-content: space-between;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.fullWidth {
  width: 100%;
}

.inputRow {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.position-relative {
  position: relative;
}